#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li:hover {
    background-color: red;
}

#nav li {
    float:left;
}

.post_links {
    display: block;
    padding: 10px 5px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    background-color: #cccccc;
    color: #000000;
}

.post_links:hover {
    background-color: #dddddd;
}